.container {
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    height: 90vh;
    min-height: 400px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}

.content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 15px rgba(124, 202, 221, 0.904);
    color: rgb(231, 231, 231);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}

.content h1 {
    text-align: left;
    font-size: 42px;
    margin: 15px 0 0 15px;
}

h6 {
    font-size: 22px;
    margin: 35px 0 50px 0;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 970px;
    }

    .content h1 {
        font-size: 32px;
    }
    
    h6 {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 740px;
    }

    .content h1 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 16px;
    }
}
    
@media screen and (max-width: 479px) {
    .container {
        max-width: 466px;
    }

    .content h1 {
        font-size: 18px;
    }
    
    h6 {
        font-size: 14px;
    }
}