.navList {
    position: absolute;
    right: 0;
    width: 100%;
    background-color: rgb(75, 72, 72);
    color: white;
    z-index: 100;
    height: 89vh;
    top: 11vh;
    box-shadow: none;
    
}

.navList ul  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 80vh;
    padding: 0;
}

.navList ul li {
    width: 100px;
    margin-bottom: 50px;
    background-color: black;
    text-align: center;
    padding: 10px 5px;
    border-radius: 7px;
}

.navList ul li a:link,
.navList ul li a:visited {
    text-decoration: none;
    color: rgb(187, 255, 246);
}