.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 0 10px;
}

.educationContainer {
    padding: 0 15px;
    font-weight: 300;
}

.educationBox {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.skillsContainer {
    padding: 0 15px;
}

.skillsBox {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    padding: 5px 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    color: white;
}


h2 {
    font-size: 20px;
}

.educationContainer p {
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 970px;
    }

    h2 {
        font-size: 18px;
    }
    
    .educationContainer p {
        font-size: 14px;
    }

    .skill {
        padding: 5px 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 740px;
        align-items: center;
    }
    
    .heading {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 16px;
    }

    .aboutMe {
        margin-bottom: 25px;
    }
    
    .educationContainer p {
        font-size: 12px;
    }

    .skill {
        padding: 5px 8px;
        font-size: 12px;
    }
}
    
@media screen and (max-width: 479px) {
    .container {
        max-width: 466px;
        align-items: center;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
    }

    .heading {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 14px;
    }
    
    .educationContainer p {
        font-size: 10px;
    }

    .skill {
        padding: 5px 8px;
        font-size: 10px;
    }
}